<div class="header">
  <div class="links hidden" [@scroll-animation-color]="stateLink">
    <a class="link" routerLink="/home">{{ 'Home page' | translate }}</a>
    <a class="link" routerLink="/products">{{ 'Product list' | translate }}</a>
    <span class="link change-language" (click)="showModal()">{{ 'Profile' | translate }}</span>
  </div>
  <div class="icons" [@scroll-animation-color]="stateLink">
    <div class="icon hidden">
      <div class="icon-wrapper">
        <span nz-icon nzType="user" nzTheme="outline"></span>
      </div>
      <span>{{ 'My account' | translate }}</span>
    </div>
    <div class="icon hidden">
      <div class="icon-wrapper">
        <span nz-icon nzType="heart" nzTheme="outline"></span>
      </div>
    </div>

    <div class="icon">
      <nz-badge
        [nzCount]="1"
        [nzOffset]="[-15, 5]"
        class="badge"
        [@scroll-animation-color]="stateLink"
      >
        <div class="icon-wrapper">
          <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
        </div>
      </nz-badge>
    </div>
    <div class="burger-menu">
      <span nz-icon nzType="menu" nzTheme="outline"></span>
    </div>
  </div>
</div>
<nz-modal
  [(nzVisible)]="modalVisible"
  nzTitle="Change language"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <nz-select
      class="select"
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select a language"
      [(ngModel)]="selectedValue"
    >
      <nz-option nzLabel="English" nzValue="en"></nz-option>
      <nz-option nzLabel="Русский" nzValue="ru"></nz-option>
      <nz-option nzLabel="Deutschland" nzValue="de"></nz-option>
    </nz-select>
  </ng-container>
</nz-modal>
