<div class="main-image">
  <div class="text-wrapper">
    <div class="text-header">
      <h3>SUMMER 2020</h3>
    </div>
    <div class="text-body">
      <h1>New Collection</h1>
    </div>
    <div class="text-footer">Find The Perfect style for you</div>
    <div class="footer-wrapper">
      <button routerLink="/products" class="button-footer">Shop Now</button>
    </div>
  </div>
</div>
<div class="desktop-content">
  <div class="sections-wrapper">
    <div class="section">
      <div class="hat centralize">
        <app-button>HAT</app-button>
      </div>
      <div class="shoes centralize">
        <app-button>SHOES</app-button>
      </div>
    </div>
    <div class="section">
      <div class="flowers centralize">
        <app-button>DRESSES</app-button>
      </div>
    </div>
    <div class="section">
      <div class="bags centralize">
        <app-button>BAGS</app-button>
      </div>
      <div class="clothes centralize">
        <app-button>CLOTHES</app-button>
      </div>
    </div>
  </div>
</div>
<div class="divider-wrapper">
  <div class="divider"></div>
</div>
<div class="featured-products">
  <div class="title-wrapper">
    <div class="title">Featured Products</div>
  </div>
  <div class="sections-wrapper">
    <div class="sections">
      <div class="section active">Featured</div>
      <div class="section">Best Seller</div>
      <div class="section">New Arrivals</div>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="content">
      <app-featured-product-card
        [title]="'Mens Essential Tee'"
        [cost]="'32.00'"
        [imageUrl]="'../../../assets/woman_in_red.png'"
        class="card"
      ></app-featured-product-card>
      <app-featured-product-card
        [title]="'Mens Essential Tee'"
        [cost]="'32.00'"
        [imageUrl]="'../../../assets/white_woman.png'"
        class="card"
      ></app-featured-product-card>
      <app-featured-product-card
        [title]="'Mens Essential Tee'"
        [cost]="'32.00'"
        [imageUrl]="'../../../assets/woman_with_orange_hair.png'"
        class="card"
      ></app-featured-product-card>
      <app-featured-product-card
        [title]="'Mens Essential Tee'"
        [cost]="'32.00'"
        [imageUrl]="'../../../assets/woman_in_red.png'"
        class="card"
      ></app-featured-product-card>
    </div>
  </div>
</div>
<div class="latest-products">
  <div class="title-wrapper">
    <div class="title">Latest Products</div>
  </div>
  <div class="content-wrapper">
    <div class="content">
      <app-latest-product-card
        [title]="'Mens Essential Tee'"
        [cost]="'32.00'"
        [imageUrl]="'../../../assets/woman_in_red.png'"
        class="small-card"
      ></app-latest-product-card>
      <app-latest-product-card
        [title]="'Mens Essential Tee'"
        [cost]="'32.00'"
        [imageUrl]="'../../../assets/woman_in_red.png'"
        class="small-card"
      ></app-latest-product-card>
      <app-latest-product-card
        [title]="'Mens Essential Tee'"
        [cost]="'32.00'"
        [imageUrl]="'../../../assets/woman_in_red.png'"
        class="small-card"
      ></app-latest-product-card>
      <app-latest-product-card
        [title]="'Mens Essential Tee'"
        [cost]="'32.00'"
        [imageUrl]="'../../../assets/woman_in_red.png'"
        class="small-card"
      ></app-latest-product-card>
      <app-latest-product-card
        [title]="'Mens Essential Tee'"
        [cost]="'32.00'"
        [imageUrl]="'../../../assets/woman_in_red.png'"
        class="small-card"
      ></app-latest-product-card>
      <app-latest-product-card
        [title]="'Mens Essential Tee'"
        [cost]="'32.00'"
        [imageUrl]="'../../../assets/woman_in_red.png'"
        class="small-card"
      ></app-latest-product-card>
      <app-latest-product-card
        [title]="'Mens Essential Tee'"
        [cost]="'32.00'"
        [imageUrl]="'../../../assets/woman_in_red.png'"
        class="small-card"
      ></app-latest-product-card>
      <app-latest-product-card
        [title]="'Mens Essential Tee'"
        [cost]="'32.00'"
        [imageUrl]="'../../../assets/woman_in_red.png'"
        class="small-card"
      ></app-latest-product-card>
    </div>
  </div>
</div>
