.main-image {
  width: 100%;
  height: 45rem;

  background-image: url('../../../assets/Rectangle 16ghgj.jpg');

  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  .text-wrapper {
    color: white;

    .text-header {
      display: flex;
      justify-content: center;

      h3 {
        color: inherit;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }

    .text-body {
      h1 {
        color: inherit;
        font-weight: bold;
        font-size: 3.25rem;
      }
    }

    .text-footer {
      display: flex;

      justify-content: center;

      font-size: 1.25rem;

      font-weight: bold;
    }

    .footer-wrapper {
      display: flex;
      justify-content: center;
    }

    .button-footer {
      margin-top: 10px;

      width: auto;
      height: 2.5rem;
      padding: 1rem 3rem 1rem 3rem;
      border: none;
      outline: none;

      color: rgba(32, 145, 249, 1);

      font-weight: 800;

      background-color: white;

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.desktop-content {
  height: 35.5rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  .sections-wrapper {
    display: flex;

    max-height: 29.25rem;

    & > * + * {
      margin-left: 2rem;
    }

    .section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .hat {
        width: 370px;
        height: 220px;
        background-image: url('../../../assets/woman_with_hat.png');
      }

      .shoes {
        width: 370px;
        height: 220px;

        background-image: url('../../../assets/shoes.png');
      }

      .flowers {
        width: 310px;
        height: 29.25rem;
        background-image: url('../../../assets/woman_with_flowers.png');
      }

      .bags {
        width: 370px;
        height: 220px;
        background-image: url('../../../assets/bag.png');
      }

      .clothes {
        width: 370px;
        height: 220px;
        background-image: url('../../../assets/clothes.png');
      }
    }
  }
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-wrapper {
  width: 100%;
  .divider::before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    margin-top: 2rem;
    background-color: #e9e9e9;
  }
}

.featured-products {
  padding-top: 30px;
  padding-bottom: 30px;

  .title-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    .title {
      color: #252b42;
      font-weight: 700;
      font-size: 24px;
    }
  }

  .sections-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 1rem;

    .sections {
      width: 20%;
      display: flex;
      justify-content: space-between;

      .section {
        font-weight: 600;
        color: #737373;

        z-index: -1;

        position: relative;
        display: inline-block;
      }

      .active {
        color: #2091f9;

        &::after {
          content: '';
          position: absolute;
          background: #2091f9;
          height: 2px;
          width: 60%;
          left: 50%;
          transform: translate(-50%, 0);
          bottom: -0.75rem;
        }
      }
    }
  }

  .content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 3rem;
    .content {
      //width: 70%;
      display: flex;
      justify-content: space-between;

      .card {
        margin-right: 2rem;
      }
    }
  }
}

.latest-products {
  height: auto;
  width: 100%;

  padding: 3rem 12rem 3rem 12rem;

  .title-wrapper {
    width: 100%;

    display: flex;
    justify-content: center;

    .title {
      font-size: 1.5rem;
      font-weight: 700;
      color: #252b42;
    }
  }

  .content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .content {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex: 1;

      .small-card {
        display: flex;
        justify-content: center;
        flex-basis: calc(25%);
        margin-right: 1rem;
        margin-top: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .main-image {
    background-image: url('../../../assets/Rectangle_mobile.png');
  }

  .desktop-content {
    height: 106.75rem;

    display: flex;
    justify-content: center;
    align-items: normal;

    .sections-wrapper {
      display: flex;
      flex-direction: column;

      .section {
        display: flex;
        align-items: center;

        margin-top: 1rem;

        .shoes {
          margin-top: 1rem;
        }

        .clothes {
          margin-top: 1rem;
        }
      }

      & > * + * {
        margin-left: 0;
      }
    }
  }

  .featured-products {
    .sections-wrapper {
      .sections {
        justify-content: space-around;
        flex: 1;
      }
    }

    .content-wrapper {
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 190rem;

        .card {
          margin-right: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .main-image {
    background-image: url('../../../assets/Rectangle_mobile.png');
  }

  .desktop-content {
    height: 106.75rem;

    display: flex;
    justify-content: center;
    align-items: normal;

    .sections-wrapper {
      display: flex;
      flex-direction: column;

      .section {
        display: flex;
        align-items: center;

        margin-top: 1rem;

        .shoes {
          margin-top: 1rem;
        }

        .clothes {
          margin-top: 1rem;
        }
      }

      & > * + * {
        margin-left: 0;
      }
    }
  }

  .featured-products {
    .sections-wrapper {
      .sections {
        justify-content: space-around;
        flex: 1;
      }
    }

    .content-wrapper {
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 190rem;

        .card {
          margin-right: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .main-image {
    background-position: -20rem 0;
  }

  .desktop-content {
    height: 88.75rem;

    display: flex;
    justify-content: center;
    align-items: normal;

    .sections-wrapper {
      display: flex;
      flex-direction: column;

      .section {
        display: flex;
        align-items: center;

        margin-top: 1rem;

        .shoes {
          margin-top: 1rem;
        }

        .clothes {
          margin-top: 1rem;
        }
      }

      & > * + * {
        margin-left: 0;
      }
    }
  }
  .featured-products {
    .sections-wrapper {
      .sections {
        justify-content: space-around;
        flex: 1;
      }
    }

    .content-wrapper {
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 150rem;

        .card {
          margin-right: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main-image {
    background-position: -14rem 0;
  }

  .desktop-content {
    height: 88.75rem;

    display: flex;
    justify-content: center;
    align-items: normal;

    .sections-wrapper {
      display: flex;
      flex-direction: column;

      .section {
        display: flex;
        align-items: center;

        margin-top: 1rem;

        .shoes {
          margin-top: 1rem;
        }

        .clothes {
          margin-top: 1rem;
        }
      }

      & > * + * {
        margin-left: 0;
      }
    }
  }
  .featured-products {
    .content-wrapper {
      .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: normal;
        height: 80rem;
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .main-image {
    background-position: -4rem 0;
  }

  .desktop-content {
    .sections-wrapper {
      & > * + * {
        margin-left: 0;
      }
    }
  }

  .featured-products {
    .content-wrapper {
      .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: normal;
        height: 80rem;
      }
    }
  }
}
