<div class="card">
  <div class="photo" [style.background-image]="'url(' + imageUrl + ')'">
    <app-favorite class="favorite"></app-favorite>
  </div>
  <div class="text-wrapper">
    <div class="title">
      {{ title }}
    </div>
    <div class="subtitle">(Black)</div>
  </div>
  <div class="cost">${{ cost }}</div>
  <div class="choose-colors-wrapper">
    <div class="color-element blue"></div>
    <div class="color-element green"></div>
    <div class="color-element orange"></div>
    <div class="color-element black"></div>
  </div>
  <app-choose-size></app-choose-size>
</div>
