.wrapper {
  .label {
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1px;
  }

  .checkboxes {
    display: flex;
    flex-direction: column;

    .label-checkbox {
      width: 100%;
    }

    .value-wrapper {
      width: 18.5rem;
      display: flex;
      justify-content: space-between;
      .value {
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.75rem;
        letter-spacing: 0.2px;
        color: rgba(115, 115, 115, 1);
      }
    }

    .ant-checkbox-wrapper + .ant-checkbox-wrapper {
      margin-left: 0;
    }
  }
}
