.favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 0.5rem;
  font-size: 1.25rem;
  border-radius: 50%;
  background-color: rgba(232, 232, 232, 0.46);
}
