name: building, testing dev
on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev
jobs:
  pipeline:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v2
      - name: Staring Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: install modules
        run: npm install
      - name: test project
        if: always()
        run: npm run test -- --watch=false --browsers=ChromeHeadless
      - name: build project
        if: always()
        run: npm run build
