name: building, testing, deploying master
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  pipeline:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 18.x ]
    steps:
      - uses: actions/checkout@v2
      - name: Staring Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: install modules
        run: npm install
      - name: build project
        if: always()
        run: npm run build
      - name: test project
        if: always()
        run: npm run test -- --watch=false --browsers=ChromeHeadless

      - uses: FirebaseExtended/action-hosting-deploy@v0
      - name: deploy firebase
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}"
          projectId: angular-project2-406c1
          channelId: live
        if: always()
        run: firebase deploy
